<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/signup">
    <input placeholder="First Name" name="firstName"><br>
    <input placeholder="Last Name" name="lastName"><br>
    <input placeholder="UserName" name="username"><br>
    <input placeholder="Password" type="password" name="password"><br>
    <input type="submit">
</form>

</body>
</html>
